/node_modules/
/exploit/artifacts/
/exploit/cache
/exploit/node_modules/
__pycache__

#Output of solutions mining
D_based_attack_solutions.txt
invalidDs.txt
unbalanced_back_and_forth_trade_attack.txt

#LaTeX compilation files
/report/report.aux
/report/report.fdb_latexmk
/report/report.fls
/report/report.log
/report/report.synctex.gz